<h1>Organizations aka "Bridges"</h1>
<div class="center bridgetroll-content">
  <p>Each Bridge has many chapters.</p>
  <% @organizations.sort_by(&:name).each do |org| %>
    <% if org.chapters.count > 0 %>
      <table class="table table-bordered">
        <thead >
          <tr style="background-color:#ECD9C8">
            <th>
              <h2><%= link_to org.name, organization_path(org) %></h2>
            </th>
            <th>
            <% count = 1 %>
              <% if org.leaders.length > 0 %>
                  Organization Leaders <br>
                  <% org.leaders.each do |leader| %>
                    <%= link_to leader.full_name, user_profile_path(leader) %>
                  <% end %>
              <% end %>
            </th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color:#f6f3f3">
            <td><b>Chapter</b></td>
            <td><b>Chapter Leaders</b></td>
          </tr>
          <% org.chapters.each do |chapter| %>
            <tr  style="background-color:#f6f3f3">
              <td>
                <%= link_to "#{count.to_s + '. ' + chapter.name}", chapter_path(chapter) %> <br>
              </td>
              <!-- list chapter name -->
              <td>
                <% if chapter.leaders.length > 0 %>
                    <ul>
                      <% chapter.leaders.each do |leader| %>
                        <li><%= link_to leader.full_name, user_profile_path(leader) %></li>
                      <% end %>
                    </ul>
                <% end %>
              </td>
            </tr>
            <% count += 1 %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>

<h1 class=='mt-10'>All our chapters</h1>
<%= render "shared/map",
           locations: @chapter_locations,
           map_class: 'gmaps4rails_bigger_map',
           infowindow_template: 'chapter_infowindow' %>

<% if user_signed_in? %>
  <% links = [] %>
  <% if policy(Organization).create? %>
    <% links << ['Add Organization', new_organization_path] %>
  <% end %>
  <%= render 'shared/actions', links: links, additional_class: 'no-margin' %>
<% end %>
